.intro {
	background-image:radial-gradient(circle at 50% 50%,rgba(0,0,0,0.46),rgba(0,0,0,0.88));

}


.texto-login{
	text-shadow: 0em 0em #333;
}

.btn-default{
	border-color: black;
	color: black;
	margin-top: 5%;
	text-shadow: 0em 0em #333;
	
}

#logo{
	font-size: 50px;
}
ul{
	list-style-type: none;
}